.gameDiv {
  background-color: cornflowerblue;
  /* Need to subtract this 6px from the stuff! */
  /*border: 3px solid black;*/
  /*display: block;*/
}
.outerDiv {
  background-color: chocolate;
  /*height: 100vh;*/
}
.bob {
  position: absolute;
}
.scoreDiv {
  background-color: goldenrod;
  border-bottom: 3px solid black;
  /*vertical-align: top;*/
  /*padding-top: 20px;*/
}
.scoreText {
  text-align: center;
  /*font-size: 20px;*/
}
