.centerText {
  text-align: center;
}
.centeredLink {
  display: block;
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;

  padding: 10px;
  border: 3px solid black;
  margin-bottom: 30px;
  text-decoration: none;
  background-color: palegoldenrod;
}
.outerDiv {
  background-color: cornflowerblue;
  height: 150vh;
  padding-top: 1vh;
}
